/* Start Variables */
:root {
  --main-color: #18cab8;
  --secondary-color: #2c4755;
  --heading-color: #ebeced;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --p-color: #777;
  --content-margin: 100px;
}
/* End Variables */

/* Start Global Rules */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
}

.parent {
  background-color: #eee;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Components */

.special-heading {
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
  color: #ebeced;
  text-align: center;
  margin: 0;
}

.special-heading + p {
  text-align: center;
  margin: -30px 0px 0px;
  font-size: 20px;
  color: #797979;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    font-size: 17px;
    margin: -20px 0px 0px;
  }
}

/* End Components */

/* Start Header */

.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 60px;
}

.header .links {
  position: relative;
}

.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .links .icon:hover span:nth-child(2) {
  width: 100%;
}

.header .links ul:hover ~ .icon span:nth-child(2) {
  width: 100%;
}

.header .links .icon span {
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
}

.header .links .icon span:first-child {
  width: 100%;
}

.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.header .links .icon span:last-child {
  width: 100%;
}

.header .links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  min-width: 200px;
  right: 0;
  top: calc(100% + 20px);
  display: none;
}

.header .links:hover ul {
  display: block;
}

.header .links ul::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  right: 5px;
  top: -20px;
}

.header .links ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.header .links ul a:hover {
  padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */

/* Start Landing Section */

.landing {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .intro-text {
  text-align: center;
  max-width: 100%;
  width: 320px;
}

.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-size: 50px;
}

.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}

/* End Landing Section */

/* Start Features Section */

.features {
  padding-top: var(--section-padding, 60px);
  padding-bottom: var(--section-padding, 60px);
  background-color: var(--section-background, #eee);
}

.features .container {
  gap: 30px;
}

.features .feat {
  padding: 20px;
  text-align: center;
}

.features .feat i {
  color: var(--main-color, purple);
}

.feat h3 {
  font-weight: 800;
  margin: 30px 0;
}

.feat p {
  line-height: 1.8;
  color: var(--p-color, #777);
  font-size: 17px;
}

/* End Features Section */

/* Start Services  */

.services {
  padding-top: var(--section-padding, 60px);
  padding-bottom: var(--section-padding 60px);
}

.services .services-content {
  gap: 30px;
  margin-top: var(--content-margin, 60px);
}

.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }

  .services .services-content .col {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.services .services-content .srv i {
  color: var(--main-color, purple);
  flex-basis: 60px;
}

.services .services-content .srv .text {
  flex: 1;
}

.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}

.services .services-content .srv .text p {
  color: #444;
  line-height: 1.6;
  font-weight: 300;
}

.services .services-content .image {
  text-align: center;
  position: relative;
}

.services .services-content .image::before {
  content: "";
  position: absolute;
  background-color: var(--secondary-color, black);
  width: 100px;
  height: calc(100% + 100px);
  right: 0;
  top: -50px;
  z-index: -1;
}

.services .services-content .image img {
  width: 250px;
}

@media (max-width: 1199px) {
  .services .image-column {
    display: none;
  }
}

/* End Services  */

/* Start Portfolio */

.portfolio {
  padding-top: var(--section-padding, 60px);
  padding-bottom: var(--section-padding, 60px);
  background-color: var(--section-background, 60px);
}

.portfolio .portfolio-content {
  gap: 30px;
  margin-top: var(--content-margin, px);
}

.portfolio .portfolio-content .card {
  background-color: white;
}

.portfolio .portfolio-content .card img {
  max-width: 100%;
}

.portfolio .portfolio-content .card .info {
  padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}

.portfolio .portfolio-content .card .info p {
  line-height: 1.6;
  color: var(--p-color, #777);
  margin-bottom: 0;
}
/* End Portfolio */

/* Start About */

.about {
  padding-top: var(--section-padding, 60px);
  padding-bottom: calc(var(--section-padding, 60px) + 60px);
}

.about .about-content {
  margin-top: var(--content-margin, 60px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
  }
}

.about .about-content .image {
  width: 250px;
  height: 375px;
  position: relative;
}

@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0px auto 60px;
  }
}

.about .about-content .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color: #ebeced;
  z-index: -1;
  top: -40px;
  left: -20px;
}

.about .about-content .image::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 60%;
  border-left: 80px solid var(--main-color, purple);
  border-bottom: 90px solid var(--main-color, purple);
  z-index: -1;
  top: -29px;
  right: -160px;
}

@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}

.about .about-content .image img {
  max-width: 100%;
}

.about .about-content .text {
  flex-basis: calc(100% - 500px);
}

@media (max-width: 991px) {
  .about .about-content .text {
    text-align: center;
  }
}

.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}

.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color, purple);
}

.about .about-content .text p:last-of-type {
  line-height: 2;
  color: var(--p-color, #777);
}
/* End About */

/* Start Contact */

.contact {
  padding-top: var(--section-padding, 60px);
  padding-bottom: var(--section-padding, 60px);
  background-color: var(--section-background, 60px);
}

.contact .info {
  padding-top: var(--section-padding, 60px);
  padding-bottom: var(--section-padding, 60px);
  text-align: center;
}

.contact .info .lable {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color, black);
  letter-spacing: -2px;
  margin-bottom: 15px;
}

.contact .info .link {
  text-decoration: none;
  font-size: 35px;
  color: var(--main-color, purple);
  font-weight: 800;
}

.contact .info .social {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.contact .info .social i {
  margin-left: 15px;
  color: var(--secondary-color, black);
}

@media (max-width: 767px) {
  .contact .info .lable,
  .contact .info .link {
    font-size: 25px;
  }
}
/* End Contact */

/* Start Footer */

.footer {
  background-color: var(--secondary-color, black);
  padding: 30px 10px;
  color: white;
  text-align: center;
  font-size: 18px;
}

.footer span {
  color: var(--main-color, purple);
  font-weight: bold;
}

/* End Footer */
